@charset "utf-8";


/* z-index 수정하기 */

.dimmed{display:none;position:fixed;top:0;right:0;bottom:0;left:0;z-index:100;background:rgba(0,0,0,.3)}
.wrap{min-width:1400px}
.container{padding-top:142px}
/* HEADER */
.header{position:fixed;width:100%;background:#fff;z-index:101}
.header a{display:inline-block}
.header .header_inner{border-bottom:1px solid #ececec;background:#fff}
.header .header_config{display:flex;justify-content:space-between;position:relative;margin:0 auto;padding-right:180px;min-width:1400px;box-sizing:border-box}
.header .link_site_list{display:flex}
.header .link_site_item{border-right:1px solid #ececec}
.header .link_site_item:first-child{border-left:1px solid #ececec}
.header .link_site{padding:13px 20px;font-size:16px;color:#333;line-height:19px}
.header .user_setting{margin-right:30px;font-size:0}
.header .user_setting a{margin-left:18px;padding:13px 0;font-size:14px;color:#555;line-height:19px}
.header .user_setting a:first-child{margin-left:0}
.header .user_setting a:before{display:inline-block;margin-right:7px;background-repeat:no-repeat;background-position:center;vertical-align:top;content:""}
.header .user_setting .login:before{width:14px;height:19px;;background-image:url(../img/ico_siteLogin.png);background-size:14px 19px}
.header .user_setting .join:before{width:13px;height:18px;;background-image:url(../img/ico_siteJoin.png);background-size:13px 18px}
.header .user_setting .langs:before{width:17px;height:17px;;background-image:url(../img/ico_siteLangs.png);background-size:17px 17px}
.header .family_site{position:absolute;top:0;right:0;width:150px;height:44px;border-radius:0 0 10px 10px;background:#636676;font-size:17px;color:#fff}
.header .family_site:before{display:inline-block;margin-right:9px;width:15px;height:15px;background-image:url(../img/ico_onceView.png);background-repeat:no-repeat;background-position:center;background-size:15px 15px;content:""}
.header .logo{padding:18px 0 19px;font-size:0}
.header .logo .logo_link{line-height:47px}
.header .logo .logo_link:before{display:inline-block;margin:0 20px;width:2px;height:16px;background:#d9d9d9;vertical-align:middle;content:""}
.header .logo .logo_link:first-child:before{display:none}
.header .header_inner + .header_inner{position:relative;border-bottom:1px solid #e6e8eb}
.header .header_inner + .header_inner .header_config{display:flex;justify-content:space-between;position:relative;z-index:101;margin:0 auto;padding-top:10px;padding-right:108px;box-sizing:border-box}

.header .gnb > .menu_list > .menu_item{display:inline-block;position:relative}
.header .gnb > .menu_list > .menu_item > .menu_link{padding:30px 29px;font-size:21px;color:#222;font-weight:500;line-height:25px}
.header .gnb > .menu_list > .menu_item > .menu_link:before{display:none;position:absolute;left:50%;bottom:26px;z-index:-1;transform:translateX(-50%);width:calc(100% - 48px);height:10px;background:#ffeaeb;content:""}
.header .gnb > .menu_list > .menu_item > .menu_link:after{display:none;position:absolute;left:50%;bottom:-7px;z-index:101;transform:translateX(-50%);width:13px;height:13px;border:3px solid #d84048;border-radius:100%;background:#fff;box-sizing:border-box;content:''}
.header .gnb > .menu_list > .menu_item > .menu_link:hover,
.header .gnb > .menu_list > .menu_item > .menu_link:focus,
.header .gnb > .menu_list > .menu_item > .menu_link.is_show{color:#d84048}
.header .gnb > .menu_list > .menu_item > .menu_link:hover,
.header .gnb > .menu_list > .menu_item > .menu_link:focus,
.header .gnb > .menu_list > .menu_item > .menu_link:hover:before,
.header .gnb > .menu_list > .menu_item > .menu_link:hover:after,
.header .gnb > .menu_list > .menu_item > .menu_link.is_show:before,
.header .gnb > .menu_list > .menu_item > .menu_link.is_show:after{display:block}

.header .gnb > .menu_list > .menu_item > .menu_list_depth_area{display:none;position:fixed;left:0;top:142px;width:100%;background:#fff}
.header .gnb > .menu_list > .menu_item > .menu_list_depth_area.is_show{display:block}
.header .gnb > .menu_list > .menu_item > .menu_list_depth_area > .menu_list.depth{display:flex;flex-wrap:wrap;margin: 0 auto;width:1400px;padding:30px 15px;box-sizing:border-box}
.header .gnb > .menu_list > .menu_item > .menu_list_depth_area > .menu_list.depth > .menu_item{display:flex;flex-direction:column;padding:0 15px;width:20%;margin-bottom:5px;box-sizing:border-box}
.header .gnb > .menu_list > .menu_item > .menu_list_depth_area > .menu_list.depth > .menu_item > .menu_link{position:relative;padding:7px 15px;width:100%;border:1px solid #c5c9d6;border-radius:5px;font-size:16px;font-weight:500;color:#555;line-height:25px;box-sizing:border-box;transition:all .3s}
.header .gnb > .menu_list > .menu_item > .menu_list_depth_area > .menu_list.depth > .menu_item > .menu_link.ico:after{position:absolute;top:12px;right:13px;width:10px;height:16px;background-image:url(../img/arr_gnb_gray.png);background-repeat:no-repeat;background-position:center;background-size:6px 10px;transform:rotate(90deg);content:""}
.header .gnb > .menu_list > .menu_item > .menu_list_depth_area > .menu_list.depth > .menu_item > .menu_link.ico[target="_blank"]:after{display:inline-block;margin-left:6px;width:13px;height:13px;background-image:url(../img/ico_blank.png);background-repeat:no-repeat;background-position:center;background-size:13px 13px;content:""}
.header .gnb > .menu_list > .menu_item > .menu_list_depth_area > .menu_list.depth > .menu_item > .menu_link:hover,
.header .gnb > .menu_list > .menu_item > .menu_list_depth_area > .menu_list.depth > .menu_item > .menu_link:focus,
.header .gnb > .menu_list > .menu_item > .menu_list_depth_area > .menu_list.depth > .menu_item > .menu_link.is_selected{background-color:#d84048;border:1px solid #d84048;color:#fff}
.header .gnb > .menu_list > .menu_item > .menu_list_depth_area > .menu_list.depth > .menu_item > .menu_link.ico:hover:after,
.header .gnb > .menu_list > .menu_item > .menu_list_depth_area > .menu_list.depth > .menu_item > .menu_link.ico:focus:after,
.header .gnb > .menu_list > .menu_item > .menu_list_depth_area > .menu_list.depth > .menu_item > .menu_link.ico.is_selected:after{background-image:url(../img/arr_gnb_white.png)}
.header .gnb > .menu_list > .menu_item > .menu_list_depth_area > .menu_list.depth > .menu_item > .menu_link.ico[target="_blank"]:hover:after,
.header .gnb > .menu_list > .menu_item > .menu_list_depth_area > .menu_list.depth > .menu_item > .menu_link.ico[target="_blank"]:focus:after,
.header .gnb > .menu_list > .menu_item > .menu_list_depth_area > .menu_list.depth > .menu_item > .menu_link.ico[target="_blank"].is_selected:after{background-image:url(../img/ico_blank_white.png)}
.header .gnb > .menu_list > .menu_item > .menu_list_depth_area > .menu_list.depth > .menu_item > .menu_link + .menu_list{margin-top:8px;margin-bottom:15px}
.header .gnb > .menu_list > .menu_item > .menu_list_depth_area > .menu_list.depth > .menu_item > .menu_link + .menu_list .menu_link{display:block;position:relative;width:100%;padding:0 15px 0 26px;color:#555;line-height:25px;box-sizing:border-box}
.header .gnb > .menu_list > .menu_item > .menu_list_depth_area > .menu_list.depth > .menu_item > .menu_link + .menu_list .menu_link:before{position:absolute;left:17px;top:10px;width:3px;height:3px;border-radius:100%;background-color:#999;content:""}
.header .gnb > .menu_list > .menu_item > .menu_list_depth_area > .menu_list.depth > .menu_item > .menu_link + .menu_list .menu_link:hover,
.header .gnb > .menu_list > .menu_item > .menu_list_depth_area > .menu_list.depth > .menu_item > .menu_link + .menu_list .menu_link:focus{color:#d84048;text-decoration:underline}

.header .btn_box{position:absolute;right:0;bottom:0;font-size:0}
.header .btn_box .btn_search{padding:29px 7px 30px}
.header .btn_box .link_sitemap{padding:32px 7px 33px 8px}
.header .btn_box .btn_search,.header .btn_box .link_sitemap{vertical-align:middle}
.header .btn_box .btn_search:before,.header .btn_box .link_sitemap:before{display:inline-block;background-repeat:no-repeat;background-position:center;vertical-align:top;content:""}
.header .btn_box .btn_search:before{width:26px;height:26px;background-image:url(../img/ico_btnTopSearch.png);background-size:26px 26px}
.header .btn_box .link_sitemap:before{width:25px;height:20px;background-image:url(../img/ico_btnTopTotal.png);background-size:25px 20px}

/* SELECT, INPUT */
select{padding:0 25px 0 10px;width:100%;height:50px;background-image:url(../img/main_select_ico.png);background-repeat:no-repeat;background-position:right 10px center;background-size:10px 6px;font-size:15px;color:#333;line-height:50px;box-sizing:border-box}
input{padding:0 10px;width:100%;height:50px;font-size:15px;color:#333;line-height:50px;box-sizing:border-box}

/* SECTION 1 */
.section{padding:50px 0 90px}
.section .inner{display:flex;justify-content:space-between;align-items:flex-start;margin:0 auto;width:1400px}
.section .inner + .inner{margin-top:50px}

.weather{display:inline-block;margin-top:15px;font-size:0}
.weather span{font-size:14px;color:#888;vertical-align:middle}
.ico{display:inline-block}
.temperature{margin-left:5px}
.dust{margin-left:7px}
.dust_state{margin-left:7px;color:#4372ca}
.temperature:after, .dust_state:after{display:inline-block;margin-left:5px;width:13px;height:13px;background-image:url(../img/ico_btn_more_small.png);background-repeat:no-repeat;background-position:center;background-size:13px 13px;content:''}

.search_group{max-width:600px}
.search_area{display:flex;justify-content:space-between;width:100%;max-width:600px;border:2px solid #636677;border-radius:15px;box-sizing:border-box}
.search_area .select_box{width:110px}
.search_area .inp_box{width:435px}
.search_area .btn_search{width:50px;height:50px;border-radius:13px 11px 11px 13px;background-color:#636677;background-image:url(../img/ico_search.png);background-repeat:no-repeat;background-position:center;background-size:29px 29px}
.keyword_area{position:relative;line-height:50px;font-size:0}
.keyword_tit{display:inline-block;width:90px;font-size:15px;color:#555;vertical-align:middle}
.slide{overflow:hidden;display:inline-block;position:relative;width:450px;height:50px;vertical-align:middle}
.slide_box{display:flex;position:absolute;left:0;top:0;width:450px;}
.slide_list{flex:1;display:flex;justify-content:space-between;min-width:900px;user-select:none;margin-left:0}
.slide_item{flex-shrink:0;position:relative;left:0;width:auto;margin:0 10px;transition:left 0.15s}
.slide_link{display:inline-block;height:100%;font-size:15px;color:#777}
.slide_btn_box{position:absolute;top:0;right:0;width:50px;height:50px;background:#fff;font-size:0}
.slide_btn{position:absolute;padding:16px 7px 15px}
.slide_btn:before{display:inline-block;border-left:7px solid #636677;border-top:6px solid transparent;border-bottom:6px solid transparent;vertical-align:middle;content:''}
.btn_prev{left:0}
.btn_next{right:0}
.btn_prev:before{border-left:0;border-right:7px solid #636677}
.btn_prev:focus,.slide_btn_box .btn_next:focus{border:1px dashed #000}

.covid_status{display:block;margin-top:15px}
.covid_status:before,.covid_status:after{display:inline-block;background-repeat:no-repeat;background-position:center;vertical-align:middle;content:''}
.covid_status:before{margin-right:5px;width:27px;height:27px;background-image:url(../img/ico_corona.png);background-size:27px 27px}
.covid_status:after{margin-left:5px;width:19px;height:19px;background-image:url(../img/ico_coronaLink.png);background-size:19px 19px}

.banner_area{position:relative}
.banner_area .slide_btn_box{position:relative;margin-top:16px;width:100%;height:auto;font-size:0}
.banner_slide{width:835px;height:420px;border-radius:20px;box-shadow:0 4px 15px rgba(0,0,0,.07)}
.banner_slide_btn{position:relative;width:20px;height:21px;background-image:url(../img/slice_btn.png);background-repeat:no-repeat;background-size:120px 21px;vertical-align:middle}
.banner_slide_btn.prev,.banner_slide_btn.next{display:inline-block;left:0;top:0;margin:0}
.banner_slide_btn.pause,.banner_slide_btn.play{position:absolute;left:66px;top:1px;}
.banner_slide_btn.prev{background-position:0 0}
.banner_slide_btn.pause{background-position:-20px 0}
.banner_slide_btn.play{display:none;background-position:-40px 0}
.banner_slide_btn.next{margin-left:20px;background-position:-60px 0}
.banner_slide_pagination{display:inline-block;position:relative;left:0;top:0;right:0;margin-right:10px;width:auto;font-size:16px;vertical-align:middle}
.banner_slide_btn.all_view{margin-left:10px;background-position:-80px 0}
.swiper-button-prev:after,.swiper-button-next:after{display:none}

.mayor_area{width:520px;height:420px;background:gold}
.mayor_top{position:relative;padding:40px 20px;min-height:309px;background-image:url(../img/mayor_img.png);background-repeat:no-repeat;background-position:100% 16px;box-sizing:border-box}
.mayor_top .img_box{display:inline-block}
.mayor_top .img_box img{}
.mayor_top .txt{display:block;margin-top:20px;font-size:20px;color:#222}
.mayor_top .txt .emphasis{padding:0 5px;font-size:33px;color:#333;font-weight:600}
.mayor_top .link{display:inline-block;position:relative;margin-top:40px;padding:11px 12px 11px 22px;width:180px;height:46px;border-radius:46px;background:#f8dee0;font-size:19px;color:#333;vertical-align:middle;box-sizing:border-box}
.mayor_top .link:after{position:absolute;top:8px;right:12px;width:30px;height:30px;border-radius:100%;background-color:#fff;background-image:url(../img/mayor_arr.png);background-repeat:no-repeat;background-position:50% 50%;vertical-align:middle;content:''}
.mayor_bottom