@charset "utf-8";

.wrap{min-width:1400px}
.container{padding-top:142px}
.dimmed{display:none;position:fixed;top:0;right:0;bottom:0;left:0;z-index:102;background:rgba(0,0,0,.3)}

.tit{display:inline-block;padding-bottom:35px;font-size:30px;font-weight:600;color:#333}
.tit_info{margin-left:15px;font-size:18px;font-weight:500}
.txt_overflow{overflow:hidden;display:-webkit-box;word-wrap:break-word;-webkit-box-orient:vertical}
.txt_overflow.line1{display:block;white-space:nowrap;text-overflow:ellipsis}
.txt_overflow.line2{-webkit-line-clamp:2}
.txt_overflow.line3{-webkit-line-clamp:3}
.txt_overflow.line4{-webkit-line-clamp:4}

/* SELECT, INPUT */
select{padding:0 25px 0 10px;width:100%;height:50px;background-image:url(../img/main_select_ico.png);background-repeat:no-repeat;background-position:right 10px center;background-size:10px 6px;font-size:15px;color:#333;line-height:50px;box-sizing:border-box}
input{padding:0 10px;width:100%;height:50px;font-size:15px;color:#333;line-height:50px;box-sizing:border-box}

.test{font-size:50px}

/* HEADER */
.header .logo:before{display:block;width:350px;height:52px;background-image:url(../img/img_logo_header.png);background-repeat:no-repeat;background-position:center;background-size:cover;content:''}
.header .gnb_item{display:inline-block;padding:0 21px}
.header .gnb_item_btn{font-size:18px;color:#222;font-weight:400}
.header .login{display:block;width:90px;height:88px;background-color:#1c90fd;}
.header .search_btn{display:block;width:90px;height:88px;background-color:#1b60c6;}
.header .login:before,.header .search_btn:before{display:block;width:90px;height:88px;background-repeat:no-repeat;background-position:center;font-size:13px;text-align:center;color:#fff;}
.header .login:before{background-image:url(../img/ico_login.png);background-size:21px 27px;content:''}
.header .search_btn:before{background-image:url(../img/ico_search.png);background-size:25px 25px;content:''}





/* KEY FRAMES */
/* @keyframes bounce {
  0%,100%{transform:translateY(0)}
  50%{transform:translateY(10px)}
} */