@charset "utf-8";
.wrap{min-width:1400px}
.dimmed{display:none;position:fixed;top:0;right:0;bottom:0;left:0;z-index:102;background:rgba(0,0,0,.3)}

/* TEXT */
.tit{display:inline-block;padding-bottom:35px;font-size:30px;font-weight:600;color:#333}
.tit_info{margin-left:15px;font-size:18px;font-weight:500}
.section_tit{padding-bottom:20px;font-size:30px;color:#333}
.section_tit .txt_thin{padding-left:10px;font-weight:200}

.txt_overflow{overflow:hidden;display:-webkit-box;word-wrap:break-word;-webkit-box-orient:vertical}
.txt_overflow.line1{display:block;white-space:nowrap;text-overflow:ellipsis}
.txt_overflow.line2{-webkit-line-clamp:2}
.txt_overflow.line3{-webkit-line-clamp:3}
.txt_overflow.line4{-webkit-line-clamp:4}

/* SELECT, INPUT */
select{padding:0 25px 0 10px;width:100%;height:50px;background-image:url(../img/main_select_ico.png);background-repeat:no-repeat;background-position:right 10px center;background-size:10px 6px;font-size:15px;color:#333;line-height:50px;box-sizing:border-box}
input{padding:0 10px;width:100%;height:50px;font-size:15px;color:#333;line-height:50px;box-sizing:border-box}

/* HEADER */
.header{position:fixed;left:0;top:0;right:0;z-index:100}
.header_top{background:#1e2e55;border-bottom:1px solid #1e2e55}
.header_bottom{display:flex;justify-content:space-between;align-items:center;background:rgba(255,255,255,.85)}
.header .popup_switch_btn{width:120px;margin-left:30px;padding:0 10px 0 20px;background-color:#005ead;font-size:16px;text-align:left;line-height:42px;color:#fff;transition:all 0.4s}
.header .popup_switch_btn:hover{background-color:#2872e1}
.header .ico_arrow{display:block;position:relative}
.header .ico_arrow:after{position:absolute;top:16px;right:0;width:10px;height:9px;background:url(../img/ico_arrow_popup.png) no-repeat right center / 10px 9px;transform:rotate(-180deg);transition:all 0.4s;content:''}
.header .ico_arrow.rotate:after{transform:rotate(0deg)}
.header .header_top{display:flex;justify-content:space-between;align-items:center}
.header .header_top_util{display:flex;align-items:center;margin-right:30px;width:291px;font-size:0}
.header .header_top_util_item{display:flex;align-items:center;margin-right:14px}
.header .header_top_util_item:after{display:inline-block;margin-left:14px;width:1px;height:15px;background:rgba(255,255,255,.3);vertical-align:middle;content:''}
.header .header_top_util_item:last-child:after{display:none}
.header .info{font-size:16px;color:rgba(255,255,255,.8)}
.header .global{padding-left:34px;height:24px;background:url(../img/ico_global.png) no-repeat left center;font-size:15px;color:#ffb400;font-weight:600}
.header .zoom .default{margin:0 9px;font-size:14px;color:#fff;line-height:42px}
.header .zoom .plus{width:12px;height:12px;background:url(../img/ico_zoom.png) no-repeat 0 0;}
.header .zoom .minus{width:12px;height:12px;background:url(../img/ico_zoom.png) no-repeat 0 -12px;}
.header .logo_link{display:block;width:380px;padding:0 20px 0 10px;box-sizing:border-box}
.header .logo_link:before{display:block;width:350px;height:52px;background-image:url(../img/img_logo_header.png);background-repeat:no-repeat;background-position:center;background-size:cover;content:''}
.header .gnb{width:calc(100% - (620px + 5%));text-align:right}
.header .gnb_item{display:inline-block;padding:0 21px}
.header .gnb_item_btn{font-size:2.2rem;color:#222;font-weight:600}
.header .gnb_item_btn:hover{color:#183d93}
.header .header_bottom_util{display:flex;width:270px;font-size:0}
.header .header_bottom_util_item{display:inline-block;flex:1;height:88px;background-repeat:no-repeat;background-position:center;vertical-align:middle}
.header .login,.header .search_btn{background-position-y:18px;font-size:13px;text-align:center;color:#fff;line-height:120px}
.header .login{background-color:#1c90fd;background-image:url(../img/ico_login.png)}
.header .search_btn{background-color:#1b60c6;background-image:url(../img/ico_search.png)}
.header .site_map{background-color:#1c3d8d;background-image:url(../img/ico_sitemap.png)}
.header .txt{position:relative}
.header .txt:before{position:absolute;left:0;bottom:-3px;width:0%;height:1px;background-color:#fff;transition:width 0.2s;content:''}
.header .info:hover .txt:before,.header .global:hover .txt:before,.header .login:hover .txt:before,.header .search_btn:hover .txt:before {width:100%}
.header .info:hover .txt{color:#fff}
.header .global:hover .txt:before{background-color:#ffb400}

/* SLIDE - SINGLE SLIDE */
.slick-dots{bottom:18%}
.slick-dots li{margin:0 3px}
.slick-dots li button:before{font-size:15px}
.slick-dots li button:hover:before, .slick-dots li button:focus:before{opacity:.25}
.slick-dots li.slick-active button:before{opacity:1;color:#0084ff}
.slick-slide img{width:100%}
.slick-dotted.slick-slider{margin-bottom:0}

.slide{position:relative;font-size:0}
.slide_control_box{position:absolute;left:50%;bottom:18%;width:26px;height:26px;transform:translate(200%)}
.slide_control_box .slide_btn{position:absolute;left:0;top:0;padding:13px;width:10px;height:15px;background-repeat:no-repeat;background-position:center;background-size:10px 15px}
.slide_control_box .play{display:none;background-image:url(../img/ico_slide_play.png)}
.slide_control_box .pause{background-image:url(../img/ico_slide_pause.png)}

.slide_control_box.type2{left:0;bottom:33px;width:100%;height:40px;transform:translate(0);}
.slide_control_box.type2 .slide_btn{width:40px;height:40px;border-radius:100%;background-image:url(../img/sp_slide_btn.png);background-color:#c0c0c0;background-size:80px 120px}
.slide_control_box.type2 .prev{left:0;background-position:0 0}
.slide_control_box.type2 .play{display:none;left:45px;background-color:#a3a3a3;background-position:-40px -80px}
.slide_control_box.type2 .pause{left:45px;background-color:#a3a3a3;background-position:0 -80px}
.slide_control_box.type2 .next{left:90px;background-position:0 -40px}
.slide_control_box.type2 .slide_btn:hover{background-color:#3f81fa}

.slide_control_box.type3{left:auto;right:0;bottom:0;padding:7px 10px 8px 17px;;min-width:145px;height:40px;transform:translate(0);border-radius:100px 0 0 100px;background-color:rgba(38,41,46,.8);line-height:26px;box-sizing:border-box}
.slide_control_box.type3 .slide_count{display:inline-block;margin-right:20px;font-size:0}
.slide_control_box.type3 .slide_count span{font-size:14px;color:#fff;vertical-align:middle}
.slide_control_box.type3 .slide_count .now{position:relative;padding-right:24px;}
.slide_control_box.type3 .slide_count .now:after{position:absolute;top:-3px;right:9px;font-size:14px;color:#748399;content:'/'}
.slide_control_box.type3 .slide_count .total{color:#748399}
.slide_control_box.type3 .slide_btn_set{display:inline-block;position:relative}
.slide_control_box.type3 .slide_btn{top:50%;transform:translateY(-50%);padding:0;width:10px;height:16px;background-image:url(../img/ico_arrow_local.png);background-size:20px 48px}
.slide_control_box.type3 .prev{left:0;background-position:0 0}
.slide_control_box.type3 .play{display:none;left:24px;background-position:-10px -32px}
.slide_control_box.type3 .pause{left:24px;background-position:0 -32px}
.slide_control_box.type3 .next{left:48px;background-position:0 -16px}
.slide_control_box.type3 .slide_btn:hover{background-color:#3f81fa}

/* 학생 서비스 */
.user_service{display:flex;}
.user_serice_inner{display:flex;justify-content:flex-end;align-items:center;padding:0 30px;width:50%;height:103px;background:#1f72b7;text-align:right;box-sizing:border-box}
.user_serice_inner + .user_serice_inner{justify-content:flex-start;background:#1f93ff;text-align:left}
.user_serice_inner + .user_serice_inner .service_tit:before{width:47px;height:39px;background:url(../img/ico_user_service2.png) no-repeat center / 47px 39px;content:''}
.service_box{display:flex;justify-content:space-between;align-items:center;min-width:670px}
.service_tit{margin-right:10px;min-width:73px;font-size:16px;color:#fff;text-align:center}
.service_tit:before{display:block;margin: 0 auto 10px;width:50px;height:43px;background:url(../img/ico_user_service1.png) no-repeat center / 50px 43px;content:''}
.service_list{display:flex;justify-content:space-between;width:100%}
.service_item{margin:0 9px}
.service_link{position:relative;font-size:18px;color:#fff;font-family:'notokr', san-serif}
.service_link:before{position:absolute;left:0;bottom:-3px;width:0;height:1px;background:#fff;transition:width 0.2s;content:''}
.service_link:hover:before{width:100%}

.section_inner{display:flex;justify-content:center;align-items:center;margin:0 auto;padding:40px 0 50px;width:100%;max-width:1400px;font-size:0}

/* SECTION_SNS_UKNOW */
.thumb_link_area{display:inline-block;position:relative;margin-left:27px}
.thumb_link_area:first-child{margin:0}
.thumb_img{display:block;}
.thumb_layer{display:none;position:absolute;left:0;top:0;padding:30px;width:100%;height:100%;background:rgba(46,91,182,.9);font-size:0;text-align:center;box-sizing:border-box;transition:0.4s}
.thumb_layer_inner{position:relative;top:50%;transform:translateY(-50%)}
.thumb_layer_txt{display:inline-block;padding-bottom:15px;font-size:18px;color:#fff;font-weight:600;letter-spacing:-0.02em;}
.thumb_layer_btn{display:inline-block;margin:0 auto;padding:7.5% 14%;width:100%;max-width:135px;height:45px;border:1px solid #fff;border-radius:100px;font-size:12px;color:#fff;box-sizing:border-box}
.thumb_layer_btn:after{display:inline-block;margin-left:15px;width:17px;height:8px;background:url(../img/ico_arrow_sns.png) no-repeat right center;content:''}
.thumb_btn{display:inline-block;margin:0 auto;padding:7.5% 14%;width:100%;max-width:135px;height:45px;border:1px solid #fff;border-radius:100px;font-size:12px;color:#fff;box-sizing:border-box}
.thumb_link_area:hover .thumb_layer{display:block}

.sns_area{position:relative;width:820px}
.sns_area img{display:block;max-width:100%}
.sns_list{position:absolute;top:0;right:0;font-size:0}
.sns_item{display:inline-block;margin-left:8px}
.sns_link{display:block;width:40px;height:40px;background-image:url(../img/sp_sns.jpg);background-repeat:no-repeat;transition:0.4s}
.sns_link.youtube{background-position:0 0px}
.sns_link.instagram{background-position:-40px 0px}
.sns_link.facebook{background-position:-80px 0px}
.sns_link.blog{background-position:-120px 0px}
.sns_link:hover.youtube,.sns_link:focus.youtube{background-position:0 -40px}
.sns_link:hover.instagram,.sns_link:focus.instagram{background-position:-40px -40px}
.sns_link:hover.facebook,.sns_link:focus.facebook{background-position:-80px -40px}
.sns_link:hover.blog,.sns_link:focus.blog{background-position:-120px -40px}
.sns_area .thumb_link_area{max-width:250px}

.uknou_area{margin-left:27px;padding-top:56px;width:580px;text-align:right}
.uknou_area img{max-width:100%}
.uknou_area .thumb_link_area{margin-left:23px;padding:0;border: 1px solid #d0d0d0;box-sizing:border-box}
.uknou_area .thumb_link_area:first-of-type{margin-left:0}
.uknou_area .thumb_link_area + .thumb_link_area .thumb_layer_btn{background:#13accf}
.uknou_area .thumb_link_area + .thumb_link_area .thumb_layer_btn:hover{background:#15c2e9}
.uknou_area .thumb_layer{top:auto;bottom:0;height:auto;background:transparent}
.uknou_area .thumb_layer_btn{background:#18386c;border:0}
.uknou_area .thumb_layer_btn:hover{background:#2353a1}


.section_publish{display:flex}
.section_publish .section_inner{display:block}
.section_publish .section_inner + .section_inner{background:#f3f3f3}
.section_inner{display:flex}
.publish_area{position:relative;margin-left:auto;padding-right:30px;width:700px;box-sizing:border-box}
.section_publish .section_inner + .section_inner .publish_area{margin-left:0;margin-right:auto;padding-left:30px}
/* .publish_list{overflow:hidden} */
.publish_item{display:flex !important;justify-content: space-between}
.publish_desc{padding-right:20px;min-width:301px;box-sizing:border-box}
.publish_link{display:block;margin-bottom:30px;font-size:20px;color:#333;line-height:1.3;word-break:keep-all}
.publish_date{display:block;position:relative;padding-bottom:15px;margin-bottom:15px;font-size:14px;color:#939393;letter-spacing:0}
.publish_date:after{position:absolute;left:0;bottom:0;width:50px;height:1px;background:#939393;content:''}
.publish_img_box{display:block;min-width:352px;min-height:275px}
.section_publish .section_inner + .section_inner .publish_img_box img{width:100%}

.publish_list_slide .slick-dots{top:-38px;right:0;bottom:auto;width:auto}
.publish_list_slide .slick-dots li{margin:0 2px;width:7px;height:7px;}
.publish_list_slide .slick-dots li button{padding:0;width:7px;height:7px;border-radius:100%;background:#999}
.publish_list_slide .slick-dots li button:before{display:none;font-size:7px}
.publish_list_slide .slick-dots li button:hover, .slick-dots li button:focus{background:#306ea9}
.publish_list_slide .slick-dots li.slick-active button{opacity:1;background:#3f81fa}
.publish_list_slide .slick-list{margin:0 -30px}
.publish_list_slide .slick-slide{margin: 0 30px}
.section_publish .section_inner + .section_inner .slide_control_box.type2{left:47px}

.section_info{margin:0 auto 50px;max-width:1400px;border:1px solid #1b60c6;font-size:0;box-sizing:border-box}
.local_unive_area{display:inline-block;position:relative;width:50%;vertical-align:middle}
.local_univ_info_list:before{position:absolute;left:0;top:0;width:100%;height:230px;background:#3673cd url(../img/img_map_logo.png) no-repeat left center;content:''}
.local_univ_info_item{position:relative;width:670px;height:230px;padding:27px 30px 25px 30px;background-repeat:no-repeat;background-position:right center;box-sizing:border-box}
.local_univ_info_item.local1{background-image:url(../img/img_map_seoul.png)}
.local_univ_info_item.local2{background-image:url(../img/img_map_busan.png)}
.local_univ_info_item.local3{background-image:url(../img/img_map_daegu.png)}
.local_univ_info_item.local4{background-image:url(../img/img_map_incheon.png)}
.local_univ_info_item.local5{background-image:url(../img/img_map_gwangju.png)}
.local_univ_info_item.local6{background-image:url(../img/img_map_daejeon.png)}
.local_univ_info_item.local7{background-image:url(../img/img_map_ulsan.png)}
.local_univ_info_item.local8{background-image:url(../img/img_map_gyeonggii.png)}

.local_univ_info_link{display:block;font-size:0}
.local_univ_info_link span{display:flex;align-items:center}
.local_univ_tit_small{font-size:14px;color:#fff}
.local_univ_tit{margin-top:2px;font-size:25px;color:#fff}
.local_univ_name{margin-top:17px;font-size:30px;color:#01e1fc;font-weight:700}
.local_univ_name:before{display:inline-block;margin-right:10px;width:4px;height:27px;background:#01e1fc;content:''}
.local_univ_name:after{display:inline-block;margin-left:10px;width:30px;height:30px;background:url(../img/ico_local_univ_home.png) no-repeat center;content:''}
.local_univ_phone{margin-top:17px;font-size:26px;color:#fff;font-weight:600}
.local_univ_phone:before{display:inline-block;margin-right:15px;width:19px;height:20px;background:url(../img/ico_local_univ_phone.png) no-repeat center;content:''}
.local_univ_addr{margin-top:5px;font-size:16px;color:#fff}
.local_univ_addr:before{display:inline-block;margin-right:15px;width:15px;height:20px;background:url(../img/ico_local_univ_location.png) no-repeat center;content:''}

.family_site_area{display:inline-block;width:50%;height:230px;padding:10px 10px 10px 40px;vertical-align:middle;box-sizing:border-box}
.family_site_list{display:grid;grid-template-columns:repeat(4, 1fr);grid-template-rows:repeat(2, 110px);align-items:center}
.family_site_item:before{display:inline-block;margin-right:11px;width:39px;height:39px;background-repeat:no-repeat;background-position:center;background-size:cover;vertical-align:middle;content:''}
.family_site_item:nth-child(1):before{background-image:url(../img/ico_family_site1.png)}
.family_site_item:nth-child(2):before{background-image:url(../img/ico_family_site2.png)}
.family_site_item:nth-child(3):before{background-image:url(../img/ico_family_site3.png)}
.family_site_item:nth-child(4):before{background-image:url(../img/ico_family_site4.png)}
.family_site_item:nth-child(5):before{background-image:url(../img/ico_family_site5.png)}
.family_site_item:nth-child(6):before{background-image:url(../img/ico_family_site6.png)}
.family_site_item:nth-child(7):before{background-image:url(../img/ico_family_site7.png)}
.family_site_item:nth-child(8):before{background-image:url(../img/ico_family_site8.png)}
.family_site_link{position:relative;font-size:16px;color:#414141;font-weight:600;vertical-align:middle;font-family:'notokr'}
.family_site_link:after{position:absolute;left:0;bottom:-7px;width:0;height:1px;background:#000;transition: all 0.2s;content:''}
.family_site_link:hover:after{width:100%}

.section_shortcut{display:flex;font-family:'notokr'}
.shorcut_inner{flex:1;position:relative}
.shorcut_inner.is_open .shortcut_box_area{display:block}
.shortcut_btn{position:relative;padding:15px 50px 16px 30px;width:100%;border-right:1px solid #494957;background:#31394a;font-size:18px;color:#ffff;text-align:left;box-sizing:border-box}
.shortcut_btn:hover{color:#ebae1c}
.shorcut_inner:last-child .shortcut_btn{border-right:0}
.ico_plus{position:absolute;top:50%;transform:translateY(-50%);right:20px;width:21px;height:21px}
/* .shortcut_btn:hover .ico_plus{transform:rotate(180deg)} */
.ico_plus:before,.ico_plus:after{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);background:#747474;content:''}
.ico_plus:before{width:1px;height:20px}
.ico_plus:after{width:20px;height:1px}
.shortcut_box_area{display:none;overflow:auto;position:absolute;left:0;right:0;bottom:55px;padding:13px 18px;height:285px;max-height:285px;background:#1c3d8d;box-sizing:border-box}
.shortcut_box{}
.shortcut_tit{font-size:20px;color:#95bce1}
.shortcut_list{margin:6px 0 15px;padding-bottom:15px;border-bottom:1px solid rgba(255,255,255,.5)}
.shortcut_item{padding:6px 0 7px}
.shortcut_link{position:relative;font-size:16px;color:#fff}
.shortcut_link:after{display:inline-block;padding-left:15px;width:12px;height:12px;background:url(../img/ico_shortcut.png) no-repeat center;content:''}



/* KEY FRAMES */
/* @keyframes bounce {
  0%,100%{transform:translateY(0)}
  50%{transform:translateY(10px)}
} */

/* @media (max-width:px) {
  
} */
